.container {
  height: 100vh;
  /* background: url('https://images.pexels.com/photos/1162251/pexels-photo-1162251.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') ; */
  /* background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative; */
  background-color: orange;
}
/* .weather_info {
  padding: 10%;
  margin: 0;
  top: 70%;
  left: 50%;
  width: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.weather_info p {
  color: #FFF;
  font-size: 1.5em;
} */
.weather_container {
  padding: 10%;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form_style {
  float: right;
}
.weather_style {
  width: 100%;
  text-align: center;
  position: relative;
  color: #333;
  font-size: 1.5em;

  padding: 10%;
  margin: 0;
  top: 75%;
  left: 50%;
  width: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}